.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #252b48;
}

.title {
  color: #f7e987;
  font-size: 30px;
  margin-left: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 5px;
}

.delete-button,
.edit-button,
.logout-button {
  width: auto;
  margin-left: 10px;
}

.delete-button {
  color: red;
}

.unsubscribe-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.unsubscribe-button:hover {
  background-color: darkred;
}

/* Asegúrate de que el contenedor principal usa flexbox */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garantiza que ocupe al menos el 100% de la altura de la ventana */
}

/* La clase .background debe ocupar el espacio disponible */
.background {
  flex: 1; /* Esto hace que el contenido principal se expanda para llenar el espacio disponible */
  padding: 20px;
}

/* Footer siempre al final */
.footer {
  background-color: #f7e987;
  height: 100px;
  width: 100%;
  text-align: center;
  position: relative; /* Asegúrate de que el footer no se quede fijo en la parte inferior */
}
