.page-container {
  display: flex;
  flex-direction: column;
}

.background {
  background-color: white;
  height: 100vh;
  padding: 20px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #252b48;
}

.title {
  color: #f7e987;
  font-size: 30px;
  margin-left: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 5px;
}

.delete-button,
.edit-button,
.logout-button {
  width: auto;
  margin-left: 10px;
}

.delete-button {
  color: red;
}
