.background-top {
  background-color: #252b48;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 110px;
  margin-bottom: auto;
}

.title {
  color: #f7e987;
  font-size: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 110px;
}

.columns {
  display: flex;
  text-align: justify;
  font-size: 20px;
  column-gap: 300px;
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 110px;
}

footer {
  margin-top: auto;
}
